body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-weight: normal;
}
h2 {
  font-weight: normal;
}
a {
  color: #00b7ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.bookmark-nav-list {
  zoom: 1;
  list-style: none;
  padding: 0;
  margin-bottom: 3em;
}
.bookmark-nav-list:before,
.bookmark-nav-list:after {
  content: "";
  display: table;
}
.bookmark-nav-list:after {
  clear: both;
}
.bookmark-nav-list > li {
  float: left;
  margin-right: 1em;
  display: inline-block;
  background-color: #00b7ff;
  padding: 0.25em 0.8em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.bookmark-nav-list > li:hover {
  background-color: #3366ff;
}
.bookmark-nav-list > li.current,
.bookmark-nav-list > li.current:hover {
  background-color: #989898;
}
.bookmark-nav-list a {
  color: inherit;
}
.bookmark-nav-list a:hover {
  text-decoration: none;
}
.form-control-group {
  zoom: 1;
}
.form-control-group:before,
.form-control-group:after {
  content: "";
  display: table;
}
.form-control-group:after {
  clear: both;
}
.form-control-group > label {
  width: 80px;
  display: inline-block;
}
.de-em {
  color: gray;
}
