extends ../layout

block content
  h2 New bookmark
  p= url

  form(action='/bookmarks', method='post')
    div.form-control-group
      label(for='name') Name
      input(type='text',value='',name='name')

    div.form-control-group
      label(for='url') Url
      input(type='url',value='',name='url')

    div.form-control-group
      input(type='submit', value='Save')
 
